<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>

    <nav class="navbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="#" id = "navlogo">HODILINFO<span style="color: rgb(221, 214, 214); font-size: 28px;">.com</span></a>          
            <div class="btn-grp-mid">
                <button type="button" class="btn btn-secondary dropdown-toggle">INR</button>
                <button type="button" class="btn btn-secondary dropdown-toggle">BTC</button>
            </div>
            <div class = "btn-grp-right">
                <button type="button" class="btn btn-primary" id = "circle-btn">58</button>
                <button type="button" class="btn btn-primary" id = "rect-btn">Connect Telegram</button>
                <!-- Rounded switch -->
                <label class="switch">
                    <input type="checkbox" />    <div></div>
                </label>
            </div>
          </div>
      </nav>
      <div class="container-fluid">
            <p id = "powered-by">Powered By <span style="color: #45bfa9;">Finstreet</span></p>
      </div>

    </div>
     <!-- <script type='text/javascript'>
      var rows = '<%- JSON.stringify(obj2) %>'
    </script> -->
      <!-- <-----TABLE--->
      
      <div class="container-fluid">
        <table class="table">
              <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">last</th>
                <th scope="col">Buy/sell Price</th>
                <th scope="col">volume</th>
                <th scope="col">base_unit</th>
              </tr>
            <tbody id = "tableid">
              <% for(i=0;i<10;i++) { %>
              <tr>
                <td scope="row"><%= i+1 %></td>
                <td><%= obj2[i]["name"] %></td>
                <td><%= obj2[i]["last"] %></td>
                <td><%= obj2[i]["buy"] %> / <%= obj2[i]["sell"] %></td>
                <td><%= obj2[i]["volume"] %></td>                
                <td><%= obj2[i]["base_unit"] %></td>
              </tr>
              <% } %>
          </table>
      </div>
</body>
</html>