body {
    background-color: #212633;
    font-family: 'Inconsolata', monospace;
  }
  #navlogo {
    color: #45bfa9;
    font-size: 40px;
  }
  .btn-grp-mid {
    margin-right: 0px; 
  }
  .btn-secondary {
    background-color: #4c4d52;
    border: 0px;
    height: 23px;
    width: 50px;
    font-family: 'Spartan', sans-serif;
    font-size: 11px;
    font-weight: 700;
    padding-top: 4px;
    text-align: center;
    color: white;
  }
  #circle-btn {
    border-radius: 50%;
    height: 29px;
    width: 29px;
    color: #45bfa9;
    font-weight: 700;
    padding: 0%;
    margin: 0%;
    background-color: #212633;
    border: 2px solid #45bfa9 ;
  }
  .btn-grp-right {
    margin: 0px;
    padding: 0px;
  }

  #rect-btn {
    color: white;
    background-color: #53e0c7;
    border: 0px;
    height: 30px;
    width: 130px;
    font-size: 12px;
    padding: 0%;
    margin: 0%;
    font-family: Gothic CG No 1 ;
    font-weight: 600;
  }

  /* -----------------> */
  
  .switch input {
    position: absolute;
    opacity: 0;

  }
  
  /**
   * 1. Adjust this to size
   */
  
  .switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 1em;
    width: 2em;
    margin-right: 20px;
    background: #4c4d52;
    border-radius: 1em;
  }
  
  .switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #26bfa5;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
  }
  
  .switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  
  #powered-by {
    color: #6d6e6e;
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
  }

  .table {
    color: white;
  }